{% load static %}
{% static "" as baseUrl %}
<!DOCTYPE html>
<html lang="en">
<!-- define the style for the collapsible trees -->

<style>

.node {
  cursor: pointer;
}

.node:hover {
  stroke: #000;
  stroke-width: 1.5px;
}

.node--leaf {
  fill: white;
}

.label {
  font: 11px "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-anchor: middle;
  text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff, 0 -1px 0 #fff;
}

.label,
.node--root,
.node--leaf {
  pointer-events: none;
}

</style>

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title> DUCK</title>

    <!-- Bootstrap Core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{% static 'css/sb-admin.css' %}" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link href="{% static 'css/plugins/morris.css' %}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{% static 'font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">

</head>

<body>
    <script src="//d3js.org/d3.v3.min.js"></script>
    <script src="https://d3js.org/d3.v4.min.js"></script>
<!--    <script type = "text/javascript" src = "d3.min.js"></script> -->

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">DUCK - A Dynamic Universal Software System Visualization Kit</a>
            </div>
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav side-nav">
                    <li>
                        <a href="{% url 'index' %}"><i class="fa fa-fw fa-edit"></i> Overview</a>
                    </li>
                    <li>
                        <a href="{% url 'collapsibletree' 'linesOfCode' 'inherited' %}"><i class="fa fa-fw fa-bar-chart-o"></i> Hierarchy</a>
                    </li>
                    <li>
                        <a href="{% url 'zoomablesunburst'  'linesOfCode' 'inherited' %}"><i class="fa fa-fw fa-bar-chart-o"></i> Sunburst</a>
                    </li>
                    <li>
                        <a href="{% url 'edgebundling'  'linesOfCode' 'inherited' %}"><i class="fa fa-fw fa-bar-chart-o"></i> Edge Bundling</a>
                    </li>
                    <li class="active">
                        <a href="{% url 'circlepacking' 'linesOfCode' 'inherited' %}"><i class="fa fa-fw fa-bar-chart-o"></i> Circle Packing</a>
                    </li>
                </ul>
            </div>
        </nav>

        <div id="page-wrapper">

            <div class="container-fluid">
                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            Program Hierachy <small>Circle Packing</small>
                        </h1>
                    </div>
                        <div id="selectBtn">
                            {% if query == 'inherited' %}
                            <button type="button" class="btn btn-info active" ><a href="{% url 'circlepacking' 'linesOfCode' 'inherited' %}">inherited</a></button>
                            <button type="button" class="btn btn-info"><a href="{% url 'circlepacking' 'linesOfCode' 'methodHirar' %}">methods</a></button>
                            {% else %}
                            <button type="button" class="btn btn-info" ><a href="{% url 'circlepacking' 'linesOfCode' 'inherited' %}">inherited</a></button>
                            <button type="button" class="btn btn-info active"><a href="{% url 'circlepacking' 'linesOfCode' 'methodHirar' %}">methods</a></button>
                            {% endif %}
                        </div>
                    <div id = "graph"> <svg width="960" height="960"></svg> </div>
                    <script> var sourceUrl = "{{baseUrl}}json/{{matrix}}_{{query}}_flare.json";</script>
                    <script type = 'text/javascript' src = "{% static 'graph/circlepacking.js' %}"> </script>
                </div>
            </div>

        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="{% static 'js/jquery.js' %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

    <!-- Morris Charts JavaScript -->
    <script src="{% static 'js/plugins/morris/raphael.min.js' %}"></script>
    <script src="{% static 'js/plugins/morris/morris.min.js' %}"></script>
    <script src="{% static 'js/plugins/morris/morris-data.js' %}"></script>

</body>

</html>
